# 
# Resources for mult-backup system
# Gabriel Marques - gabriel.marques@rnp.br
# Seg Jul 11 14:28:49 BRT 2016
#

# ---------------- BACKUPS ROUTINES -----------------
# Function to create LDAP backup
backup_ldap() {
    echo -e "---------------------" | tee -a $BKP_LOG
    echo -e "Executing LDAP dump" | tee -a $BKP_LOG
	echo -e "Start time: $(date)"        | tee -a $BKP_LOG
    slapcat -v -l ${LDAP_LDIF} >> $BKP_LOG 2>&1 && echo "LDAP: OK" | tee -a $BKP_LOG
    echo -e "Executing LDAP backup" | tee -a $BKP_LOG
    $ARCHIVE $ARCHIVE_OPT $LDAP_BKPFILE.${ARCHIVE_EXT} ${LDAP_CFG} ${LDAP_DB} ${LDAP_LDIF} >> $BKP_LOG 2>&1 && echo -e "LDAP: OK" | tee -a $BKP_LOG
	echo -e "End time: $(date)"        | tee -a $BKP_LOG

    # Transfer backup to server
    backup_transfer ${LDAP_BKPFILE}.${ARCHIVE_EXT}
}

